@charset "utf-8";
/* CSS Document made by haryo bayu 
   11 Mei 2018
 */

@import url('roboto-condensed/roboto-condensed.css');
@import url('opensans/opensans.css');
@import url('oswald/oswald.css');
@import url('montserrat-regular/montserrat-regular.css');

/*
font-family: 'RobotoCondensed-Regular';
font-family: 'RobotoCondensed-Italic';
font-family: 'RobotoCondensed-Bold';
font-family: 'OpenSans-Regular';
font-family: 'Oswald-Regular';
font-family: 'Abel-Regular';
font-family: 'Pacifico-Regular';
font-family: 'Montserrat-Regular';
*/

html,body {font-family: 'OpenSans-Regular',sans-serif;height: 100%;}
textarea:focus, input:focus{
    outline: none;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}


/* link  */
a.link-white { color: #fff !important;}  a.link-white:hover{ color: #ff9900 !important;}
a.link-red { color: #fd2731 !important;}a.link-red:hover{ color: #fff !important;}
a.link-black { color: #454444 !important;}a.link-black:hover{ color: #f90 !important;}
a.link-grey { color: #666 !important;}a.link-black:hover{ color: #f90 !important;}
a.link-orange { color: #f90 !important;}a.link-orange:hover{ color: #fff !important;}
.link2-black a { color:#454444 !important;}.link2-black a:hover { color:#f90!important;}
.link2-grey a { color:#666 !important;}.link2-black a:hover { color:#f90!important;}
.link2-white a { color:#fff !important;}.link2-white a:hover { color:#ocf!important;}
.link2-red a {color: #fd2731 !important;}.link2-red a:hover {color: #fff !important;}
.link2-orange a { color: #f90 !important;}.link2-orange a:hover {color: #fff !important;}

/* Font Family */
.ff-roboto-r { font-family: 'RobotoCondensed-Regular',sans-serif; }
.ff-opensans {font-family: 'OpenSans-Regular',sans-serif; }
.ff-oswald-r {font-family: 'Oswald-Regular',sans-serif; }
.ff-montserrat-r {font-family: 'Montserrat-Regular',sans-serif; }

.wrap-100 { width:100%;}
.wrap-content { width: 1150px !important; margin:0 auto;font-size:14px; }
.button-top {padding:10px 10px; width:100px;}
.sign-in { background-color:#014965; color:#FFF; border-color:#014965;}
.sign-in:hover {background-color:#FFF; color:#014965;border-color: #F90;}
.sign-up { background-color:#FFF; color:#014965;border-color:#014965;}
.sign-up:hover {background-color:#F90; color:#FFF; border-color:#F90;}
.header-shadow {box-shadow: 0px 4px 5px #ddd; height:80px; width:100% !important; z-index:2;}
.header-shadow-d {box-shadow: 0px 4px 5px #ddd; height:60px; width:100% !important; z-index:2;}
/* menu side */
/*.sidenav{height: 100%;position: fixed;z-index: 3;top: 0;right: 0;background-color: #F90;
overflow-x: hidden;transition: 0.5s;padding-top: 60px; background-image:url("../images/ornamen-menu.png"); background-repeat:no-repeat;
background-position:top right;}
.sidenav { width:260px;}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 15px;color: #FFF;display: block;transition: 0.3s;}
.sidenav a:hover {color: #efefef;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
.but-sidemenu {margin-top:0px; cursor:pointer;}
.but-sidemenu2 {margin-top:-10px; cursor:pointer;}
#but-log { display:none !important;}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}.sidenav a {font-size: 18px;}
}*/
.sidenav{height: 100%;width: 0;position: fixed;z-index: 3;top: 0;right: 0;background-color: #F90;
overflow-x: hidden;transition: 0.5s;padding-top: 60px; background-image:url("../images/ornamen-menu.png"); background-repeat:no-repeat;
background-position:top right;}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 15px;color: #FFF;display: block;transition: 0.3s;}
.sidenav a:hover {color: #efefef;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
.but-sidemenu {margin-top:0px; cursor:pointer;}
.but-sidemenu2 {margin-top:-10px; cursor:pointer;}
#but-log { display:none !important;}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}.sidenav a {font-size: 18px;}
}

.bagian-kiri { width:50%; float:left;}
.bagian-kanan { width:50%; float:left;}
.bagian-kiri-footer { width:30%; float:left;}
.bagian-kanan-footer { width:70%; float:left;}
.tmpt-content { width: calc(100% - 20px); margin:auto; margin:30px 0;}
.bg-1 { background-image:url("../images/bg-1.jpg"); background-position:left top; background-repeat:no-repeat;}
.bg-2 { background-image:url("../images/bg-2.jpg"); background-position:left top; background-repeat:no-repeat;}
.txt-content { margin-top:120px;}
.bg-3 { background-image:url("../images/bg-green.jpg"); background-position:left top; background-color:#FFF;}
.bg-4 { background-image:url("../images/bg-3.jpg"); background-position:right top; background-repeat:no-repeat;}
.bg-5 { background-image:url("../images/bg-greylight.jpg");}
.bg-6 { background-image:url("../images/bg-red.jpg"); background-position:left top; background-color:#FFF;}
.bg-7 { background-image:url("../images/bg-blue.jpg"); background-position:left top; background-color:#FFF;}
.devider1-top { background-image:url("../images/devider1-top.png"); background-position:left top; 
background-repeat:no-repeat; width:100%; height:47px;}
.devider1-bottom { background-image:url("../images/devider1-bottom.png"); background-position:left top; 
background-repeat:no-repeat; width:100%; height:46px;}
.devider2-top { background-image:url("../images/devider2-top.png"); background-position:left top; 
background-repeat:no-repeat; width:100%; height:54px;}
.devider2-bottom { background-image:url("../images/devider2-bottom.png"); background-position:left top; 
background-repeat:no-repeat; width:100%; height:53px;}
.devider3-top { background-image:url("../images/devider3-top.png"); background-position:left top; 
background-repeat:no-repeat; width:100%; height:40px;}
.devider3-bottom { background-image:url("../images/devider3-bottom.png"); background-position:left top; 
background-repeat:no-repeat; width:100%; height:46px;}

.kotak-langkah { width:230px; height:275px; padding:10px; magin-top:10px !important;mangin-left:10px;margin-right:10px;
background-color:#FFF;}
.kotak-langkah3 { width:230px; height:310px; padding:10px; magin-top:10px !important;mangin-left:10px;margin-right:10px;
background-color:#FFF;}

.kotak-langkah2 { width:230px; height:346px; padding:10px; magin-top:10px !important;mangin-left:10px;margin-right:10px;
background-color: #F5F5F5;}

.kotak-langkah:hover { cursor:pointer; box-shadow: 5px 5px 5px grey; }
.kotak-langkah3:hover { cursor:pointer; box-shadow: 5px 5px 5px grey; }
.devider-white { width: 400px; height:51px; background-image:url("../images/devider-section-putih.jpg"); 
background-position:top; background-repeat:no-repeat; margin:0 auto;}
.mar-left { margin-left:0px;}
.wid-tab { width:530px;}
.nav .nav-item {  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #FFF; margin:5px; background-color:#FFF;}
.footer { background-color: #666; width:100%; padding:9px 0px; color:#FFF;}
.kiri-footer { float:left;  font-size:13px;}
.kanan-footer { float:right; text-align:right; color:#fff;}
.pad-block {padding: .375rem 0 !important;}
.isidropdown { width:160px; padding:10px; position:absolute; top:34px; right:-10px;}
.justmobile { display:none !important;}

/*reponsive mode */
@media only screen and (max-width: 359px ) {
.wrap-content { width: 100% !important;}
#sign-in, #sign-up  { display:none !important;}
.but-sidemenu {margin-top:10px; margin-right:10px; cursor:pointer;}
#but-log { display: block !important;}
.swiper-slide img { max-height:130px; width:100%;}
.bagian-kiri, .bagian-kanan,.bagian-kiri-footer , .bagian-kanan-footer { width: 100%;}
.txt-content { margin-top:20px;}
.devider1-top,.devider1-bottom ,.devider-white,.devider2-top,.devider2-bottom,.fordeskt  { display:none !important;}
.wid-tab { width:100%;}
.kanan-footer { float:left; text-align:left; color:#fff;}
.justmobile { display: block !important;}
.mar-left { margin-left:10px;}
}
@media only screen and (min-width: 360px)  and (max-width: 420px ) {
.wrap-content { width: 100% !important;}
#sign-in, #sign-up  { display:none !important;}
.but-sidemenu {margin-top:10px; margin-right:10px; cursor:pointer;}
#but-log { display: block !important;}
.swiper-slide img { height:150px !important; width:100%;}
.bagian-kiri, .bagian-kanan,.bagian-kiri-footer , .bagian-kanan-footer { width: 100%;}
.txt-content { margin-top:30px;}
.devider1-top,.devider1-bottom ,.devider-white,.devider2-top,.devider2-bottom,.fordeskt  { display:none !important;}
.wid-tab { width:100%;}
.kanan-footer { float:left; text-align:left; color:#fff;}
.justmobile { display: block !important;}
.mar-left { margin-left:10px;}
}
@media only screen and (min-width: 421px)  and (max-width: 480px ) {
.wrap-content { width: 100% !important;}
#sign-in, #sign-up  { display:none !important;}
.but-sidemenu {margin-top:10px; margin-right:10px; cursor:pointer;}
#but-log { display: block !important;}
.swiper-slide img { height:160px !important; width:100%;}
.bagian-kiri, .bagian-kanan ,.bagian-kiri-footer , .bagian-kanan-footer{ width: 100%;}
.txt-content { margin-top:30px;}
.devider1-top,.devider1-bottom ,.devider-white,.devider2-top,.devider2-bottom,.fordeskt  { display:none !important;}
.wid-tab { width:100%;}
.kanan-footer { float:left; text-align:left; color:#fff;}
.justmobile { display: block !important;}
.mar-left { margin-left:10px;}
}
@media only screen and (min-width: 481px)  and (max-width: 640px ) {
.wrap-content { width: 100% !important;}
.bagian-kiri, .bagian-kanan ,.bagian-kiri-footer , .bagian-kanan-footer{ width: 100%;}
.devider1-top,.devider1-bottom,.devider2-top,.devider2-bottom { display:none !important;}
.wid-tab { width:100%;}
.kanan-footer { float:left; text-align:left; color:#fff;}
.mar-left { margin-left:10px;}
}
@media only screen and (min-width: 641px)  and (max-width: 768px ) {
.wrap-content { width: 100% !important;}
.bagian-kiri, .bagian-kanan,.bagian-kiri-footer , .bagian-kanan-footer { width: 100%;}
.kanan-footer { float:left; text-align:left; color:#fff;}
}
@media only screen and (min-width: 801px)  and (max-width: 900px ) {
.wrap-content { width: 100% !important;}
}
@media only screen and (min-width: 901px)  and (max-width: 999px ) {
.wrap-content { width: 100% !important;}

}
@media only screen and (min-width: 1000px)  and (max-width: 1099px ) {
.wrap-content { width: 100% !important;}
}
