@charset "utf-8";
/* 
CSS Document made by Haryo Bayu with passion and love  
code name : style-by-version 2.5.11
update : 11/5/2018
*/

html, body { margin:0px; padding:0px;}
.high-100-pc { height:100% !important;}
/* a href*/
a { text-decoration:none !important;}
/* float */
.fright { float:right;}.fleft { float:left;}
/*clear */
.clear-boot { padding: 0 !important; margin: 0 !important;}.clear-all{clear:both;} 
.clear-margin { margin-top:0px !important; margin-bottom:0px !important; margin-left:0px !important; margin-right:0px !important;}
/* disabled form */
input.disabled { background-color: #E9E9E9 !important;}
.disabled::-webkit-input-placeholder { /* Chrome */
  color: red;
}
.disabled:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
.disabled::-moz-placeholder { /* Firefox 19+ */
  color: red;
  opacity: 1;
}
.disabled:-moz-placeholder { /* Firefox 4 - 18 */
  color: red;
  opacity: 1;
}
/*kursor */
.cur-pointer { cursor:pointer !important;}
.cur-move { cursor:move !important;}
.cur-help { cursor:help !important;}
/* center */
.center-max {display: block; margin-left: auto !important;margin-right: auto !important;}
.center-txt { text-align:center !important;}
/*  H clearing   */
h1,h2,h3 { margin:0;padding:0;}
h1,h2,h3 { font-size:100%; font-weight:normal;}
/*  rata kiri kanan */
.txtleft{ text-align:left;} .txtright{ text-align:right;} .txtcenter{ text-align:center;}.center{ margin:0 auto; }
/* Letter Spacing */
.ls-min-1{ letter-spacing:-1px; }.ls-min-05{ letter-spacing:-0.5px; }.ls-normal{ letter-spacing:normal; }
.ls-plus-05{ letter-spacing:0.5px; }.ls-plus-1{ letter-spacing:1px; }
/* Posisi*/
.relative{ position:relative; }.absolute{ position:absolute; }.fixed{ position:fixed; }
.top-0 { top:0px !important;}.top-1 { top:1px !important;}.top-2 { top:2px !important;}.top-3 { top:3px !important;}.top-4 { top:4px !important;}
.top-5 { top:5px !important;}.top-6 { top:6px !important;}.top-7 { top:7px !important;}.top-8 { top:8px !important;}.top-9 { top:9px !important;}
.top-10 { top:10px !important;}.top-11 { top:11px !important;}.top-12 { top:12px !important;}.top-13 { top:13px !important;}.top-14 { top:14px !important;}
.top-15 { top:15px !important;}.top-16 { top:16px !important;}.top-17 { top:17px !important;}.top-18 { top:18px !important;}.top-19 { top:19px !important;}
.top-20 { top:20px !important;}
.bottom-0 { bottom:0px !important;}.bottom-1 { bottom:1px !important;}.bottom-2 { bottom:2px !important;}.bottom-3 { bottom:3px !important;}.bottom-4 { bottom:4px !important;}
.bottom-5 { bottom:5px !important;}.bottom-6 { bottom:6px !important;}.bottom-7 { bottom:7px !important;}.bottom-8 { bottom:8px !important;}.bottom-9 { bottom:9px !important;}
.bottom-10 { bottom:10px !important;}.bottom-11 { bottom:11px !important;}.bottom-12 { bottom:12px !important;}.bottom-13 { bottom:13px !important;}.bottom-14 { bottom:14px !important;}
.bottom-15 { bottom:15px !important;}.bottom-16 { bottom:16px !important;}.bottom-17 { bottom:17px !important;}.bottom-18 { bottom:18px !important;}.bottom-19 { bottom:19px !important;}
.bottom-20 { bottom:20px !important;}
.left-0 { left:0px !important;}.left-1 { left:1px !important;}.left-2 { left:2px !important;}.left-3 { left:3px !important;}.left-4 { left:4px !important;}
.left-5 { left:5px !important;}.left-6 { left:6px !important;}.left-7 { left:7px !important;}.left-8 { left:8px !important;}.left-9 { left:9px !important;}
.left-10 { left:10px !important;}.left-11 { left:11px !important;}.left-12 { left:12px !important;}.left-13 { left:13px !important;}.left-14 { left:14px !important;}
.left-15 { left:15px !important;}.left-16 { left:16px !important;}.left-17 { left:17px !important;}.left-18 { left:18px !important;}.left-19 { left:19px !important;}
.left-20 { left:20px !important;}
.right-0 { right:0px !important;}.right-1 { right:1px !important;}.right-2 { right:2px !important;}.right-3 { right:3px !important;}.right-4 { right:4px !important;}
.right-5 { right:5px !important;}.right-6 { right:6px !important;}.right-7 { right:7px !important;}.right-8 { right:8px !important;}.right-9 { right:9px !important;}
.right-10 { right:10px !important;}.right-11 { right:11px !important;}.right-12 { right:12px !important;}.right-13 { right:13px !important;}.right-14 { right:14px !important;}
.right-15 { right:15px !important;}.right-16 { right:16px !important;}.right-17 { right:17px !important;}.right-18 { right:18px !important;}.right-19 { right:19px !important;}
.right-20 { right:20px !important;}
/* line height */
.line-height-35{ line-height:35px; }.line-height-30{ line-height:30px; }.line-height-25{ line-height:25px; }.line-height-20{ line-height:20px; }
.line-height-18{ line-height:18px; }.line-height-16{ line-height:16px; }.line-height-14{ line-height:14px; }.line-height-12{ line-height:12px; }
.line-height-normal{ line-height:normal; }
/* display */
.dplay-none { display:none !important;}.dplay-block { display:block !important;} .dplay-inherit{ display:inherit !important;}
.dplay-inline { display:inline !important;}.dplay-inlineblock { display: inline-block !important;} .dplay-inlinetable { display: inline-table !important;} 
/* height */
.high-1{height:1px !important;} .high-2{height:2px !important;} .high-3{height:3px !important;}.high-4{height:4px !important;}
.high-6{height:6px !important;} .high-7{height:7px !important;} .high-8{height:8px !important;}.high-9{height:9px !important;}
.high-5{height:5px !important;} .high-10{height:10px !important;}.high-15{height:15px !important;}.high-20{height:20px !important;}
.high-25{height:25px !important;}.high-30{height:30px !important;}.high-35{height:35px !important;}.high-40{height:40px !important;}
.high-45{height:50px !important;}.high-50{height:50px !important;}.high-60{height:60px !important;}.high-70{height:70px !important;}
.high-80{height:80px !important;}.high-90{height:90px !important;}.high-100{height:100px !important;}.high-150{height:150px !important;}
.high-200{height:200px !important;}.high-250{height:250px !important;} .high-275{height:275px !important;} .high-300{height:300px !important;}
/* padding */
.pad-h-5 { padding:0 5px !important}.pad-h-10 { padding:0 10px !important}.pad-h-15 { padding:0 15px !important}.pad-h-20 { padding:0 20px !important}
.pad-v-5 { padding:5px 0 !important}.pad-v-10 { padding:10px 0 !important}.pad-v-15 { padding:15px 0 !important}.pad-v-20 { padding:20px 0 !important}
.pad-t-1 {padding-top:1px !important;}.pad-t-2 {padding-top:2px !important;}.pad-t-3 {padding-top:3px !important;}.pad-t-4 {padding-top:4px !important;}
.pad-t-5 {padding-top:5px !important;}.pad-t-6 {padding-top:6px !important;}.pad-t-7 {padding-top:7px !important;}.pad-t-8 {padding-top:8px !important;}
.pad-t-9 {padding-top:9px !important;}.pad-t-10 {padding-top:10px !important;}.pad-t-12 {padding-top:12px !important;}.pad-t-15 {padding-top:15px !important;}
.pad-t-20 {padding-top:20px !important;}.pad-t-22 {padding-top:22px !important;}.pad-t-24 {padding-top:24px !important;}.pad-t-25 {padding-top:25px !important;}
.pad-b-1 {padding-bottom:1px !important;}.pad-b-2 {padding-bottom:2px !important;}.pad-b-3 {padding-bottom:3px !important;}.pad-b-4 {padding-bottom:4px !important;}
.pad-b-5 {padding-bottom:5px !important;}.pad-b-6 {padding-bottom:6px !important;}.pad-b-7 {padding-bottom:7px !important;}.pad-b-8 {padding-bottom:8px !important;}
.pad-b-9 {padding-bottom:9px !important;}.pad-b-10 {padding-bottom:10px !important;}.pad-b-12 {padding-bottom:12px !important;}.pad-b-15 {padding-bottom:15px !important;}
.pad-b-20 {padding-bottom:20px !important;}.pad-b-22 {padding-bottom:22px !important;}.pad-b-24 {padding-bottom:24px !important;}.pad-b-25 {padding-bottom:25px !important;}
.pad-l-1{ padding-left:1px !important;}.pad-l-2{ padding-left:2px !important;}.pad-l-3{ padding-left:3px !important;}.pad-l-4{ padding-left:4px !important;}
.pad-l-5{ padding-left:5px !important;}.pad-l-6{ padding-left:6px !important;}.pad-l-7{ padding-left:7px !important;}.pad-l-8{ padding-left:8px !important;}
.pad-l-9{ padding-left:9px !important;}.pad-l-10{ padding-left:10px !important;}.pad-l-12{ padding-left:12px !important;}.pad-l-15{ padding-left:15px !important;}
.pad-r-1{ padding-right:1px !important;}.pad-r-2{ padding-right:2px !important;}.pad-r-3{ padding-right:3px !important;}.pad-r-4{ padding-right:4px !important;}
.pad-r-5{ padding-right:5px !important;}.pad-r-6{ padding-right:6px !important;}.pad-r-7{ padding-right:7px !important;}.pad-r-8{ padding-right:8px !important;}
.pad-r-9{ padding-right:9px !important;}.pad-r-10{ padding-right:10px !important;}.pad-r-12{ padding-right:12px !important;}.pad-r-15{ padding-right:15px !important;}
.pad-5{padding:5px !important;}.pad-10{padding:10px !important;}.pad-15{padding:15px !important;}.pad-20{padding:20px !important;}
/* margin */
.mar-h-5 { margin:0 5px !important}.mar-h-10 { margin:0 10px !important}.mar-h-15 { margin:0 15px !important}.mar-h-20 { margin:0 20px !important}
.mar-v-5 { margin:5px 0 !important}.mar-v-10 { margin:10px 0 !important}.mar-v-15 { margin:15px 0 !important}.mar-v-20 { margin:20px 0 !important}
.mar-t-1 {margin-top:1px !important;}.mar-t-2 {margin-top:2px !important;}.mar-t-3 {margin-top:3px !important;}.mar-t-4 {margin-top:4px !important;}
.mar-t-5 {margin-top:5px !important;}.mar-t-6 {margin-top:6px !important;}.mar-t-7 {margin-top:7px !important;}.mar-t-8 {margin-top:8px !important;}
.mar-t-9 {margin-top:9px !important;}.mar-t-10 {margin-top:10px !important;}.mar-t-12 {margin-top:12px !important;}.mar-t-15 {margin-top:15px !important;}
.mar-t-20 {margin-top:20px !important;}.mar-t-22 {margin-top:22px !important;}.mar-t-24 {margin-top:24px !important;}.mar-t-25 {margin-top:25px !important;}
.mar-b-1 {margin-bottom:1px !important;}.mar-b-2 {margin-bottom:2px !important;}.mar-b-3 {margin-bottom:3px !important;}.mar-b-4 {margin-bottom:4px !important;}
.mar-b-5 {margin-bottom:5px !important;}.mar-b-6 {margin-bottom:6px !important;}.mar-b-7 {margin-bottom:7px !important;}.mar-b-8 {margin-bottom:8px !important;}
.mar-b-9 {margin-bottom:9px !important;}.mar-b-10 {margin-bottom:10px !important;}.mar-b-12 {margin-bottom:12px !important;}.mar-b-15 {margin-bottom:15px !important;}
.mar-b-20 {margin-bottom:20px !important;}.mar-b-22 {margin-bottom:22px !important;}.mar-b-24 {margin-bottom:24px !important;}.mar-b-25 {margin-bottom:25px !important;}
.mar-l-1{ margin-left:1px !important;}.mar-l-2{ margin-left:2px !important;}.mar-l-3{ margin-left:3px !important;}.mar-l-4{ margin-left:4px !important;}
.mar-l-5{ margin-left:5px !important;}.mar-l-6{ margin-left:6px !important;}.mar-l-7{ margin-left:7px !important;}.mar-l-8{ margin-left:8px !important;}
.mar-l-9{ margin-left:9px !important;}.mar-l-10{ margin-left:10px !important;}.mar-l-12{ margin-left:12px !important;}.mar-l-15{ margin-left:15px !important;}
.mar-r-1{ margin-right:1px !important;}.mar-r-2{ margin-right:2px !important;}.mar-r-3{ margin-right:3px !important;}.mar-r-4{ margin-right:4px !important;}
.mar-r-5{ margin-right:5px !important;}.mar-r-6{ margin-right:6px !important;}.mar-r-7{ margin-right:7px !important;}.mar-r-8{ margin-right:8px !important;}
.mar-r-9{ margin-right:9px !important;}.mar-r-10{ margin-right:10px !important;}.mar-r-12{ margin-right:12px !important;}.mar-r-15{ margin-right:15px !important;}
/* backgorund-color */
.bg-red{background-color:#c00000 !important;}.bg-green{background-color:#178811 !important;}.bg-blue{background-color:#054974 !important;}
.bg-black{background-color:#000 !important;}.bg-white{background-color:#FFF !important;}.bg-grey1 { background-color:#F1F1F1 !important;}
.bg-grey2{background-color:#F2F2F2 !important;}.bg-grey3{background-color:#F3F3F3 !important;}.bg-grey4{background-color:#F4F4F4 !important;}
.bg-grey5{background-color:#F5F5F5 !important;}.bg-ccc{background-color:#ccc !important;}.bg-ddd{background-color:#dddddd !important;}
.bg-eee{background-color:#eeeeee !important;}.bg-333{background-color:#333 !important}.bg-666{background-color:#666 !important;}
.bg-999 { background-color:#999 !important} 
/* font-size   */
.fs11 { font-size:11px !important;}.fs12 { font-size:12px !important;}.fs13 { font-size:13px !important;}.fs14 { font-size:14px !important;}
.fs15 { font-size:15px !important;}.fs16 { font-size:16px !important;}.fs17 { font-size:17px !important;}.fs18 { font-size:18px !important;}
.fs20 { font-size:20px !important;}.fs22 { font-size:22px !important;}.fs24 { font-size:24px !important;}.fs26 { font-size:26px !important;}
.fs27 { font-size:27px !important;}.fs28 { font-size:28px !important;}.fs30 { font-size:30px !important;}.fs32 { font-size:32px !important;}
.fs36 { font-size:36px !important;}.fs40 { font-size:40px !important;}.fs45 { font-size:45px !important;}.fs50 { font-size:50px !important;}
.fs60 { font-size:60px !important;}.fs70 { font-size:70px !important;}.fs80 { font-size:80px !important;}
/*  Font Color   */
.color-white { color:#FFF !important;}.color-black { color:#000 !important;} .color-gray { color:#9c9a9a !important;} .color-orange { color:#ff9900;}
.color-red { color:#c00000 !important;}.color-green { color:#178811 !important;}.color-graydark { color:#666 !important;}
.color-blue { color:#09A3FF !important;}.color-bluedark { color:#016489 !important;}.color-bluelight { color:#91D6FF !important;}
.color-pink { color: #F09 !important;} .color-pink2 { color:#F39 !important;}
/* Font Weight & Style*/
.f-bold{ font-weight:bold;}.f-normal{ font-weight:normal;}.f-lighter{ font-weight:lighter}.f-bolder{ font-weight: bolder} 
.f-italic { font-style:italic}
/* text trasform */
.t-uppercase{ text-transform:uppercase; }
.t-capitalize{ text-transform:capitalize; }
.t-lowercase{ text-transform:lowercase; }
/* Border */
.bor-all{ border:1px solid #ddd; }
.bor-top{ border-top:1px solid #ddd; }
.bor-bot{ border-bottom:1px solid #ddd; }
.bor-left{ border-left:1px solid #ddd; }
.bor-right{ border-right:1px solid #ddd; }
/* border-radius */
.bor-radius-5{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;  }
.bor-radius-10{ -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  }
.bor-radius-15{ -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;  }
.bor-radius-20{ -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;  }
/* width-px  */
.w-10-px { width:10px !important;}.w-15-px { width:15px !important;}.w-20-px { width:20px !important;}.w-25-px { width:25px !important;}
.w-30-px { width:30px !important;}.w-35-px { width:35px !important;}.w-40-px { width:40px !important;}.w-45-px { width:45px !important;}
.w-50-px { width:50px !important;}.w-60-px { width:60px !important;}.w-70-px { width:70px !important;}.w-80-px { width:80px !important;}
.w-90-px { width:90px !important;}.w-100-px { width:100px !important;}.w-150-px { width:150px !important;}.w-175-px { width:175px !important;}
.w-200-px { width:200px !important;}.w-250-px { width:250px !important;}.w-275-px { width:275px !important;}.w-300-px { width:300px !important;}
.w-400-px { width:400px !important;}.w-500-px { width:500px !important;}.w-600-px { width:600px !important;}.w-700-px { width:700px !important;}
.w-800-px { width:800px !important;}.w-900-px { width:900px !important;}.w-1000-px { width:1000px !important;}.w-1100-px { width:1100px !important;}
/* width-percent  */
.w-5-pc { width:5% !important;}.w-10-pc { width:10% !important;}.w-15-pc { width:15% !important;}.w-20-pc { width:20% !important;}
.w-25-pc { width:25% !important;}.w-30-pc { width:30% !important;}.w-35-pc { width:35% !important;}.w-40-pc { width:40% !important;}
.w-45-pc { width:45% !important;}.w-50-pc { width:50% !important;}.w-55-pc { width:55% !important;}.w-60-pc { width:60% !important;}
.w-65-pc { width:65% !important;}.w-70-pc { width:70% !important;}.w-75-pc { width:75% !important;}.w-80-pc { width:80% !important;}
.w-85-pc { width:85% !important;}.w-90-pc { width:90% !important;}.w-95-pc { width:95% !important;}.w-100-pc { width:100% !important;}

/*loading <div class="loader">Loading...</div> */
.loader,.loader:after{border-radius:50%;width:10em;height:10em}.loader{margin:60px auto;font-size:10px;position:relative;text-indent:-9999em;border-top:1.1em solid rgba(255,255,255,.2);border-right:1.1em solid rgba(255,255,255,.2);border-bottom:1.1em solid rgba(255,255,255,.2);border-left:1.1em solid #fff;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation:load8 1.1s infinite linear;animation:load8 1.1s infinite linear}@-webkit-keyframes load8{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes load8{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

/*vertical-align */
.valign-t { vertical-align:top !important;}
.valign-b { vertical-align:bottom !important;}
.valign-m { vertical-align:middle !important;}
.valign-sub { vertical-align:sub !important;}
.valign-super { vertical-align:super !important;}

