@font-face {
  font-family: 'Oswald-Regular';
  src: url('Oswald-Regular.eot');
  src: url('Oswald-Regular.woff2') format('woff2'),
       url('Oswald-Regular.woff') format('woff'),
       url('Oswald-Regular.ttf') format('truetype'),
       url('Oswald-Regular.svg#Oswald-Regular') format('svg'),
       url('Oswald-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Medium';
  src: url('Oswald-Medium.eot');
  src: url('Oswald-Medium.woff2') format('woff2'),
       url('Oswald-Medium.woff') format('woff'),
       url('Oswald-Medium.ttf') format('truetype'),
       url('Oswald-Medium.svg#Oswald-Medium') format('svg'),
       url('Oswald-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

